In [2]:
import pandas as pd
import math
import numpy as np
from sklearn.cluster import KMeans

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [9]:
df = pd.read_csv('player_metrics_most_recent_season.csv')
df= df.drop(columns=["ID1","Flags"])

In [10]:
df_array = np.asarray(df)
df_array

array([['abreujo02', 3.317, 0.005142636, 0.915831351, 0.116471399,
        0.060078724],
       ['acunaro01', 3.455, 0.017538071, 0.95428605, 0.125329815,
        0.092403628],
       ['adamewi01', -0.653, -0.002633065, 0.884808095, 0.096602265,
        0.059388122],
       ...,
       ['zimmejo02', -0.734, -0.014979592, 0.544221598, 0.020895522,
        0.015345269],
       ['zimmery01', -3.784, -0.002884146, 0.872717348, 0.108656447,
        0.065117536],
       ['zuninmi01', -5.617, -0.011581443, 0.736132945, 0.100429855,
        0.041622575]], dtype=object)

In [44]:
arr = np.empty((1,3))
arr

array([[0.e+000, 5.e-324, 1.e-323]])

In [45]:

# calculate tanimoto coefficient
for i in df_array:
    for j in df_array:
        if i[0] != j[0]:
            i_norm = np.linalg.norm(i[1:])
            j_norm = np.linalg.norm(j[1:])
            i_norm_squared = i_norm * i_norm
            j_norm_squared = j_norm * j_norm
            i_dot_j = np.dot(i[1:], j[1:])
            t_coef =  i_dot_j/(i_norm_squared + j_norm_squared - i_dot_j)
            row = [i[0],j[0],t_coef]
            arr = np.append(arr, [row], axis=0)
print(arr)

[['0.0' '5e-324' '1e-323']
 ['abreujo02' 'acunaro01' '0.9982385778235338']
 ['abreujo02' 'adamewi01' '-0.09297674245447848']
 ...
 ['zuninmi01' 'zimmebr01' '0.36319887210403107']
 ['zuninmi01' 'zimmejo02' '0.15930229330402948']
 ['zuninmi01' 'zimmery01' '0.8663807176704542']]

In [46]:
df_arr = pd.DataFrame(arr)

In [47]:
df_arr.columns = ['ID1', 'ID2', 'Tanimoto Coefficient']

In [3]:
df_arr = df_arr[df_arr["ID1"]!='0.0']
df_arr.reset_index()
df_arr

NameError: name 'df_arr' is not defined

In [1]:
df_arr["value"] = df_arr["Tanimoto Coefficient"].astype(float)

NameError: name 'df_arr' is not defined

In [2]:
df_arr.sort_values(by="Tanimoto Coefficient", ascending=False)

NameError: name 'df_arr' is not defined

In [ ]:
df_filtered = df_arr[df_arr["Tanimoto Coefficient"] > 0.5]
df_filtered

              ID1        ID2  Tanimoto Coefficient
1       abreujo02  acunaro01              0.998239
14      abreujo02  alforan01              0.515912
51      abreujo02   beltbr01              0.529478
56      abreujo02  bichebo01              0.951790
60      abreujo02  bogaexa01              0.997988
...           ...        ...                   ...
392423  zuninmi01  tapiara01              0.530934
392448  zuninmi01  uptonju01              0.884204
392454  zuninmi01  valaipa01              0.646869
392466  zuninmi01   vogtst01              0.964214
392502  zuninmi01  zimmery01              0.866381

[160178 rows x 3 columns]

In [62]:
df_filtered.to_csv("player_graph.csv")

In [5]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [7]:
df = pd.read_csv("player_graph.csv")

In [11]:
df["value"] = df["Tanimoto Coefficient"].round()

In [12]:
df.head()

   Unnamed: 0        ID1        ID2  Tanimoto Coefficient  value
0           1  abreujo02  acunaro01              0.998239    1.0
1          14  abreujo02  alforan01              0.515912    1.0
2          51  abreujo02   beltbr01              0.529478    1.0
3          56  abreujo02  bichebo01              0.951790    1.0
4          60  abreujo02  bogaexa01              0.997988    1.0

In [13]:
df.to_csv("player_graph2.csv")